.moviesList-wrapper {

}

.sorting-filtering-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sorting-block {
    display: inline-block;
}

.moviesList {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.moviesList li {
    list-style: none;
}