.moviesList-wrapper {
    color: white;
    background: #424242;
    padding-top: 20px;
}

.sorting-filtering-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5px;
}

.sorting-block {
    display: inline-block;
}

.moviesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 400px;
}

.moviesList li {
    list-style: none;
}